.topBar {
  width: 100%;
  height: 50px;
  background-color: #fff;
}

.topBarWrapper {
  height: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-weight: bold;
  font-size: 30px;
  color: #0088ff;
}
.topRight {
  display: flex;
  align-items: center;
  justify-content: center;
}
.topBarIconContainer {
  position: relative;
}
.topIconBadge {
  position: absolute;
  background-color: #ff0000;
  width: 15px;
  height: 15px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  top: -5px;
  right: 5px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
